/* 
## Colors

### Primary

- Linear gradient (active input border): hsl(249, 99%, 64%) to hsl(278, 94%, 30%)
- Red (input errors): hsl(0, 100%, 66%)

### Neutral

- White: hsl(0, 0%, 100%)
- Light grayish violet: hsl(270, 3%, 87%)
- Dark grayish violet: hsl(279, 6%, 55%)
- Very dark violet: hsl(278, 68%, 11%)
*/




body{
    font-family: 'Space Grotesk';
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.left-content{
    position: relative;
    width: 30%;
    background: linear-gradient(hsl(278, 68%, 11%) ,hsl(278, 94%, 30%));
}

.card-image-front{
    position: absolute;
    top: 20%;
    left: 30%;
    position: relative;
}
.card-image-back{
    position: absolute;
    top: 30vh;
    left: 20%;
}

.card-front-content{
    display: flex;
    flex-direction: column;
    gap: 72px;
    padding: 24px;
    position: absolute;
    top: 0px;
    color: white;
    z-index: 999;
    
}

.circles{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
}

.filled-circle{
    background-color: white;
    width: 32px;
    height: 32px;
    border-radius: 100%;
}

.empty-circle{
    border: 1px solid white;
    width: 16px;
    height: 16px;
    border-radius: 100%;
}

.card-inputs{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
    gap: 18px;
}

.card-inputs h2{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.month-year-display{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 187px;
    left: 380px;
}

.card-number-display{
    margin: 0;
    width: 100%;
    letter-spacing: 4px;
    font-size: 30px;
}

.cardholder-name-display{
    text-transform: uppercase;
    height: 50px;
}

.cvc-display{
    position: absolute;
    top: 93px;
    left: 365px;
    color: white;

}

.right-content-success{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 56px;
    margin: auto;
    width: 500px;
}

.right-content-success h2{
    font-size: 42px;
    letter-spacing: 3px;
    margin: 0;
}

.right-content-success p{
    margin: 0;
}

.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.text img{
    width: 88px;
}


.right-content{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 500px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 28px;
}

form .cardholder-name,
form .card-number,
form .exp-date,
form .cvc-input{
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100px;
}

.month,
.year{
    width: 100px;
}

.month-error,
.year-error{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cvc{
    width: 85%;
}

.month-year{
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.card-date-cvc{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
}


label{
    color: hsl(278, 68%, 11%);
    font-size: 14px;
    font-weight:500;
    letter-spacing: 3px;
}

input {
    height: 28px;
    border: 1px solid hsl(270, 3%, 87%);
    border-radius: 8px;
    padding: 14px;
    outline: none;
    margin: 0;
    font-size: large;
    font-family: 'Space Grotesk';
    cursor: pointer;
}

input:hover{
    border: 1px solid hsl(278, 68%, 11%);

}

input:focus{
    border: 1px solid hsl(278, 68%, 11%);
    color: hsl(278, 68%, 11%);
    font-size: large;
}

input:active{
    border: 1px solid hsl(270, 3%, 87%);;
    color: hsl(278, 68%, 11%);
    font-size: large;
}

.error-message{
    display: none;
    color: hsl(0, 100%, 66%);
    font-size: 12px;
    padding: 0;
    margin: 0;
}

input.error{
    border: 1px solid hsl(0, 100%, 66%);
}

input::placeholder{
    color: hsl(270, 3%, 87%);
    font-size: 18px;
    font-family: 'Space Grotesk';
}

button{
    border-radius: 8px;
    padding: 18px;
    background-color: hsl(278, 68%, 11%);
    color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
    width: 100%;
}

@media (max-width: 375px){
    .container{
        flex-direction: column;
        gap: 24px;
        width: 375px;
        height: 809px;
        overflow: hidden;
    
    }

    .left-content {
        width: 100%;
        height: 300px;
        padding: 0;
        margin: 0;
    }

    .right-content{
        width: 300px;
        padding: 72px 24px 24px 24px;
        margin: 0;
        
    }

    .card-image-front img,
    .card-image-back img{
        width: 300px;
    }

    .card-image-front{
        position: absolute;
        top: 200px;
        left: 15px;
        z-index: 999;
    }


    .card-image-back{
        width: 300px;
        position: absolute;
        top: -150px;
        left: 20px;
        z-index: -1;
    }

    .card-front-content{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        width: 250px;
        gap: 40px;
        padding: 24px;
        position: absolute;
        top: 0px;
        color: white;
        z-index: 999;
        
    }
    
    .circles{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 14px;
    }
    
    .filled-circle{
        background-color: white;
        width: 32px;
        height: 32px;
        border-radius: 100%;
    }
    
    .empty-circle{
        border: 1px solid white;
        width: 16px;
        height: 16px;
        border-radius: 100%;
    }
    
    .card-inputs{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        width: 300px;
        gap: 0px;
    }

    
    .month-year-display{
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 116px;
        left: 230px;
        font-size: 14px;
    }
    
    .card-number-display{
        margin: 0;
        width: 100%;
        letter-spacing: 4px;
        font-size: 16px;
    }
    
    .cardholder-name-display{
        text-transform: uppercase;
        font-size: 14px;
    }
    
    .cvc-display{
        position: absolute;
        top: 56px;
        left: 240px;
        font-size: 14px;
        color: white;
    
    }

    input {
        font-size: 18px;
        height: 28px;
        padding: 8px;
        font-family: 'Space Grotesk';
        cursor: pointer;
        font-weight: 600;
       
    }

    label{
        font-size: 12px;
    }

    .month,
    .year{
        width: 60px;
    }

    
    .cvc-input{
        width: 160px;
    }

    .card-date-cvc{
        gap: 16px;
    }

    .month-year{
    
        gap: 8px;
    }

    form{
        gap: 0px;
    }

    input::placeholder{
        font-size: 16px;
        letter-spacing: 1px;
    }

    .cvc{
        width: 80%;
    }

    .right-content-success{
        width: 300px;
        padding: 72px 24px 24px 24px;
        margin: 0
    }

    button{
        padding: 18px;
        letter-spacing: 2px;
    }
    
}